<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UA Badminton Tournament
    </title>
    <!-- Bootstrap Styles-->
    <link href="/static/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/adminCustomStyle.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script>
        msg = "{{ msg }}";
        var data = JSON.parse(msg.replace(/&quot;/g, '"').replace(/&#39;/g, '"').replace(/[\u0000-\u001F]+/g, ""));
        console.log(data);

        window.onload = function () {
            const options = document.getElementById('events_checking').querySelectorAll("input[type='checkbox']");
            console.log(data);
            dataArr = data.events.split(",").map(item => item.trim());
            console.log(dataArr);

            // Iterate through each checkbox and get its value
            for (let i = 0; i < options.length; i++) {
                const checkbox = options[i];
                const value = checkbox.value;
                console.log(value);
                if (dataArr.includes(value)) {
                    console.log(" Selected");
                    document.getElementById('events_checking').querySelectorAll("input[type='checkbox']")[i].checked = true;
                }
            }
        }
    </script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{ url_for('web.home') }}>UA Badminton Tournament</a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_dashboard') }}"><i class="fa fa-dashboard"></i>
                        HOME</a>
                </li>
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_form') }}"><i class="fa fa-edit"></i>
                        Tournament</a>
                </li>
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_events') }}"><i class="fa fa-desktop"></i>
                        Events</a>
                </li>
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_matches') }}"><i class="fa fa-table"></i>
                        Matches</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->


    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Tournament <small></small>
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input class="form-control" value="{{ msg.name }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Location:</label>
                                            <textarea class="form-control"
                                                      rows="3">{{ msg.venue }}&#13;&#10;{{ msg.location }}</textarea>
                                        </div>
                                        <form role="form">
                                            <h5><b>Date/Time:</b></h5>
                                            <div class="form-group">
                                                <label>Registration Open:</label>
                                                <input type="datetime-local" class="form-control"
                                                       value="{{ msg.registration_open }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Registration Deadline:</label>
                                                <input type="datetime-local" class="form-control"
                                                       value="{{ msg.registration_deadline }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Withdraw Deadline:</label>
                                                <input type="datetime-local" class="form-control"
                                                       value="{{ msg.withdraw_deadline }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Tournament Start Date:</label>
                                                <input type="datetime-local" class="form-control"
                                                       value="{{ msg.tournament_start_date }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Tournament End Date:</label>
                                                <input type="datetime-local" class="form-control"
                                                       value="{{ msg.tournament_end_date }}">
                                            </div>
                                        </form>
                                        <div class="form-group" id="events_checking">
                                            <label>Events:</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="MS">Mens Single (MS)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="MD">Mens Double (MD)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="WS">Womens Single (WS)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="WD">Womens Double (WD)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="XD">Mix Doubles (XD)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="U19">Under 19 (U19)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="U17">Under 17 (U17)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Regulations:</label>
                                            <textarea class="form-control" rows="3">{{ msg.Regulations }}</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Announcements
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Enter news</label>
                                            <textarea class="form-control">{{ msg.announcements }}</textarea>
                                            {#                                            <p class="help-block"></p>#}
                                        </div>

                                        <button type="submit" class="btn btn-default">Submit</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<!--    <script src="assets/js/jquery-1.10.2.js"></script>-->
<!--      &lt;!&ndash; Bootstrap Js &ndash;&gt;-->
<!--    <script src="assets/js/bootstrap.min.js"></script>-->
<!--    &lt;!&ndash; Metis Menu Js &ndash;&gt;-->
<!--    <script src="assets/js/jquery.metisMenu.js"></script>-->
<!--      &lt;!&ndash; Custom Js &ndash;&gt;-->
<!--    <script src="assets/js/custom-scripts.js"></script>-->


</body>
</html>